.vscode/settings.json
scripts/__pycache__/game.cpython-36.pyc
scripts/__pycache__/physics.cpython-36.pyc
scripts/__pycache__/

scripts/Cenas/__pycache__/__init__.cpython-36.pyc
scripts/Cenas/__pycache__/
